.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #fff;
  padding: 40px;



}


.hr_custom {

  border: 1px solid #ffffff;
  max-height: 1px;
  width: 100%;
  margin: 30px 0px;

}